body{
	background: #ccc;
	margin: auto;
}
#chatroom{
	width: 100%;
	display: flex;
}

.chat-left{
	width: 30%;
	background: white;
	height: 80vh;
}
.chat-left .title{
	height: 25px;
	background: #00B7FF;
	text-align: center;
	font-weight: bold;
	color: red;

}
.chat-left .list-users span{
	float: left;
	width: 100%;
	margin-top: 10px;
}
.chat-right{
	width: 70%;
	background: greenyellow;
	height: 80vh;
}
.chat-right .contents{
	width: 100%;
	height: 70vh;
	background: #f0f0f0;
}
.chat-right .message, .send{
	height: 35px;
}
.chat-right .message{
	width: 89%;
}
.chat-right .send{
	width: 10%;
}
.chat-right .user {
	float: right;
	text-align: right;
	width: 100%;
	height: 25px;
	background: greenyellow;
}
.chat-right .user .username{
	margin-right: 10px;
	font-weight: bold;
}
.chat-right .user .btn-logout{
	margin-right: 10px;
	color: #00B7FF;
}
.typing{
	width: 100%;
	background: #f0f0f0;
	font-style: italic;
}