/config/app.php
/config/bootstrap.php
/config/environments/local.php
/tmp/*
/logs/*
/webroot/uploads/*
/.idea/*
/node_modules/*
/.phpintel/*
.idea/
logs/
tmp/
/webroot/node_modules/*
/webroot/gulpfile.js
/webroot/package.json
package.json
gulpfile.js
package-lock.json
dist/