<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap-colorpicker.min.js"></script>
    <script type="text/javascript" src="socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
<div id="wrap-container">
    <div class="container">
        <div class="header">
            <%- include('partials/header'); %>
        </div>
        <div class="contents">
            <%- include('home'); %>
        </div>
        <div class="footer">
            <%- include('partials/footer'); %>
        </div>
    </div>
</div>
</body>
</html>