<h1> Register Room </h1>
<div id="wrap-register-room">
    <div class="register-room">
        <label class="title">Register UserName</label>
        <input name="txtroom" class="txtroom form-control" type="text">
        <label class="title">Color UserName</label>
        <button type="button" id="register" class="register">Register</button>
    </div>
</div>
<div id="wrap-rooms">
    <div class="room-left">
        <div class="title">Users Online</div>
        <div class="list-rooms">
        </div>
    </div>
    <div class="room-right">
        <!--            <div class="user"><span class="username"></span><a class="btn-logout">Logout</a> </div>-->
        <!--            <div class="contents">-->
        <!--            </div>-->
        <!--            <div class="typing"></div>-->
        <!--            <input type="text" class="txt-message" value="">-->
        <!--            <button type="button" id="send" class="send">Send</button>-->
    </div>
</div>
